<figure class="card">
    <div class="card__emoji">{%Image%}{%Image%}</div>

    <div class="card__title-box">
      <h2 class="card__title">{%Prod_name%}</h2>
    </div>

    <div class="card__details">
      <div class="card__detail-box">
        <h6 class="card__detail card__detail--organic {%Not_organic%}">Organic!</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">{%Quantity%} per 📦</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail card__detail--price">{%Price%}€</h6>
      </div>
    </div>

    <a class="card__link" href="/product?id={%ID%}">
      <span>Detail <i class="emoji-right">👉</i></span>
    </a>
  </figure>